<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Plansza</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid" style="margin-top: 20px">
    <div class="rowNumber">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            <h1 class="panel-title">Naciśnij na pole, gdzie chcesz postawić swój znak</h1>
                            <h2 class="panel-title" th:text="'Kolej gracza ' + ${player}"/>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-default" href="/" role="button">Wróć do menu</a>
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(board)}">
                        <table class="table table-hover" th:each="rowNumber: ${board}">
                            <tr>
                                <td class="text-center" th:each="field,iterStat : ${rowNumber.getColumns()}">
                                    <a role="button" th:href="@{'/insert/' + ${board.indexOf(rowNumber) + 1} + '/' + ${iterStat.index} + '/'}" class="btn btn-primary" th:text="${field.getMark()}"></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>