<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head lang="pl">
    <meta charset="UTF-8"/>
    <title>Menu</title>
</head>
<body>
<div class="columns" layout:fragment="content">
    <h1 class="indigo-text center" th:text="|Menu główne|">Menu</h1>
    <form method="post" action="mainMenu" class="indigo-text center">
        <div class="columns">
                <div class="columns s12" th:if="${not isGameStarted}">
                    <button class="btn waves-effect waves-light" type="submit" name="insert" value="Nowa gra" th:text="|Nowa gra|"/>
                </div>

                <div class="columns s12" th:if="${isGameStarted}">
                    <button class="btn waves-effect waves-light" type="submit" name="insert" value="Wznów grę" th:text="|Wznów grę|"/>
                </div>

                <div class="columns s12" th:if="${isGameStarted}">
                    <button class="btn waves-effect waves-light" type="submit" name="restartGame" value="Zacznij od początku" th:text="|Zacznij od początku|"/>
                </div>

                <div class="columns s12">
                    <button class="btn waves-effect waves-light" type="submit" name="loadGame" value="Wczytaj grę" th:text="|Wczytaj grę|"/>
                </div>

                <div class="columns s12">
                    <button class="btn waves-effect waves-light" type="submit" name="changeDefaultBoardSize" value="Gra z niestandardowymi ustawieniami" th:text="|Zmień domyślny rozmiar planszy|"/>
                </div>

                <div class="columns s12">
                    <button class="btn waves-effect waves-light" type="submit" name="escape" value="Wyjdź" th:text="|Wyjdź|"/>
                </div>
        </div>
    </form>


</div>

</body>


</html>